extends ../node_modules/pug-bootstrap/_bootstrap

block body
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2= title

        .form-group
          a.btn.btn-primary(href='/authenticate/') Facebook