extends ../node_modules/pug-bootstrap/_bootstrap
append styles
  // Bootstrap theme
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
  // Custom styles for this template
  link(href='../css/theme.css', rel='stylesheet')
  link(href='/stylesheets/style.css', rel='stylesheet')

block body
  .container
    block content
    .text-center
      p= `© 2018 Julius Niiniranta. App environment is in ${locals.settings.env} mode.`
