extends ../node_modules/pug-bootstrap/_bootstrap

append styles
  link(href='/stylesheets/style.css', rel='stylesheet')

block body
  script(src='/socket.io/socket.io.js')
  script.
    const domain = '!{backend}';
    const socket = io.connect(domain);
    socket.on('')
    let map;
    let latLng;
    let emoji;
    let geotagMarker;
    let marker;

    function enableMapUI() {
      let info = document.querySelector('#overlay-info');
      let spinner = info.querySelector('.spinner');
      spinner.parentNode.removeChild(spinner);
      info.querySelector('.message').innerText = 'Found You!';
      info.style.opacity = '0';
      setTimeout(function() {
        info.parentNode.removeChild(info);
      }, 2400);
      let buttons = document.querySelectorAll('.nav-toggle.disabled');
      buttons.forEach(function(button) {
        button.classList.remove('disabled');
      })
      mapEnabled = true;
    }

    function updateUserEmoji() {
      const xhr = new XMLHttpRequest();
      xhr.open('GET', '/users');
      xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
      xhr.responseType = 'json';
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          emoji = xhr.response.emoji;
          updateUI();
        }
      };
      xhr.send();
    }

    function updateUI() {
      if (marker && emoji) {
        marker.setLabel({text: emoji, fontSize: '14px'});
        marker.set('icon', {
          path: google.maps.SymbolPath.CIRCLE,
          scale: 0,
          strokeColor: '#ffffff',
          strokeWeight: 0
        });
      }
      if (emoji) {
        document.querySelectorAll('.user-emoji').forEach(function(elmnt) {
          elmnt.innerHTML = emoji;
        });
      }
    }

  .container.fill-vertically
    .row.fill-vertically.mapui-container

      #overlay-info.centered.text-center.opacity-fade
        .spinner
        h5.message Finding your location, please wait...

      .map-container

        div#map.opacity-fade

      #collapsibles

        div.collapse#userInfo
          include userInfo

        div.collapse#userEmojiSelect
          include userEmojiSelect

        div.collapse#geotagComposer(visible-callback='openComposer()')
          include geotagComposer

      div.nav-container

        a.btn.btn-primary.nav-toggle(href='#userInfo', role='button')
          span.glyphicon.glyphicon-user

        a.btn.btn-primary.nav-toggle.disabled.user-emoji(href='#userEmojiSelect', role='button') ?

        a.btn.btn-primary.nav-toggle.disabled(href='#geotagComposer', role='button')
          span.glyphicon.glyphicon-map-marker


append scripts
  script(src='/javascripts/initmap.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBLG03RG4vdnPx0B6NTRsZOOtmNb6kfA8E&callback=initMap',
  async=true,
  defer=true)
  script(src='/javascripts/nav-actions.js')
  script(src='/javascripts/emoji.js')
  script(src='/javascripts/emoji-select.js')