extends ../node_modules/pug-bootstrap/_bootstrap

append styles
  // link(href='../pug-bootstrap/css/theme.css', rel='stylesheet')
  link(href='/stylesheets/style.css', rel='stylesheet')

block body
  .container.fill-vertically
    .row.fill-vertically
      .fill-vertically.mapui-container
        .map-container
          #spinner
          div#map
            script.

              let map;

              function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                  center: {lat: -34.397, lng: 150.644},
                  zoom: 16,
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                  disableDefaultUI: true
                });

                updateCurrentLocation();

                function updateCurrentLocation() {
                  try {
                    let watchId = navigator.geolocation.watchPosition(updateMap, handleLocationError);
                  } catch (e) {
                    alert(e.message);
                  }
                }

                function handleLocationError(error) {
                  alert(error.message);
                }

                function updateMap(position) {
                  let pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                  };
                  hideSpinner();
                  map.panTo(pos);
                }

                function hideSpinner() {
                  let spinner = document.querySelector('#spinner');
                  if (spinner) spinner.parentNode.removeChild(spinner);
                }
              }


            script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBLG03RG4vdnPx0B6NTRsZOOtmNb6kfA8E&callback=initMap',
            async=true,
            defer=true)
        div.nav-container
          div 1
          div 2
          div 3

