extends ../node_modules/pug-bootstrap/_bootstrap

append styles
  // link(href='../pug-bootstrap/css/theme.css', rel='stylesheet')
  link(href='/stylesheets/style.css', rel='stylesheet')

block body
  .container.fill-vertically
    .row.fill-vertically.mapui-container
      .map-container
        #spinner
        div#map

      #collapsibles
        div.collapse#markerComposer
          include geotagComposer

        div.collapse#userEmojiSelect
          include userEmojiSelect

      div.nav-container
        a.btn.btn-primary.nav-toggle(href='#markerComposer', role='button') +
        a.btn.btn-primary.nav-toggle(href='#userEmojiSelect', role='button') E

append scripts
  script(src='/javascripts/initmap.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBLG03RG4vdnPx0B6NTRsZOOtmNb6kfA8E&callback=initMap',
  async=true,
  defer=true)
  script(src='/javascripts/nav-actions.js')