extends ../node_modules/pug-bootstrap/_bootstrap

append styles
  // link(href='../pug-bootstrap/css/theme.css', rel='stylesheet')
  link(href='/stylesheets/style.css', rel='stylesheet')

block body
  script(src='/socket.io/socket.io.js')
  script.
    const domain = '!{backend}';
    const socket = io.connect(domain);

  .container.fill-vertically
    .row.fill-vertically.mapui-container

      #disabling-overlay.opacity-fade(onclick='return false')

      .centered.text-center#overlay-info
        .spinner
        h5 Finding Your Location, Please Wait...

      .map-container.text-center

        div#map

      #collapsibles

        div.collapse#userInfo
          include userInfo

        div.collapse#userEmojiSelect
          include userEmojiSelect

        div.collapse#geotagComposer
          include geotagComposer

      div.nav-container

        a.btn.btn-primary.nav-toggle(href='#userInfo', role='button')
          span.glyphicon.glyphicon-user

        a.btn.btn-primary.nav-toggle(href='#userEmojiSelect', role='button') 😀

        a.btn.btn-primary.nav-toggle(href='#geotagComposer', role='button')
          span.glyphicon.glyphicon-map-marker


append scripts
  script(src='/javascripts/initmap.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBLG03RG4vdnPx0B6NTRsZOOtmNb6kfA8E&callback=initMap',
  async=true,
  defer=true)
  script(src='/javascripts/nav-actions.js')
  script(src='/javascripts/emoji.js')
  script(src='/javascripts/emoji-select.js')