extends layout

block body
  script.
    let fbSdkSrc;
    if ('#{locals.settings.env}' === 'development')
      fbSdkSrc = 'https://connect.facebook.net/en_US/sdk/debug.js';
    else
      fbSdkSrc = 'https://connect.facebook.net/en_US/sdk.js';
    window.fbAsyncInit = function() {
      console.log('initializing FB SDK');
      FB.init({
        appId: '152386338928593',
        cookie: true,
        xfbml: false,
        version: 'v2.12'
      });

      FB.AppEvents.logPageView();

      FB.getLoginStatus(function(response) {
        finished_rendering();
        console.log('FB SDK initialized', response);
      });
    };

    (function(d, s, id) {
      console.log('downloading FB SDK');
      let js;
      let fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = fbSdkSrc;
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  block content